@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Ysabeau+SC:wght@200;300;400;500;600&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

::selection {
  background-color: #9EF0F0; /* Replace with your desired color */
  color: white; /* Replace with your desired color */
}


.hero {
  @apply flex justify-center items-center w-screen h-screen font-lobster bg-black
}

.hero_links{
  @apply mt-10 w-80 h-32
}

.about {
  @apply flex justify-center flex-col pt-52 lg:pt-0 lg:mt-0 w-screen h-screen border border-orange-400
}

.about_section {
  @apply mt-12 mx-10 lg:mx-32 grid lg:grid-cols-2
}

.experience {
  @apply pt-52 lg:pt-0 lg:mt-0 w-screen h-screen bg-black text-white
}

.experience_section {
  @apply flex flex-row flex-wrap justify-center mt-12 mx-10 lg:mx-32 gap-52
}
